*{
    justify-content: center;
}
div{
    margin-top: 20px;
}

.form-tip button{
    color: white;
    background-color: rgb(6, 72, 75);
    width: 2.5cm;
    height: .8cm;
    margin: 8px 8px 8px 0px;
    border: hidden;
    border-radius: 3px;
}
.form-tip input{
    width: 2.5cm;
}
.form-tip input::-webkit-input-placeholder {
    text-align: center;
  }

div .output-container{
    background-color: rgb(3, 70, 66);
}
.output-text p:first-child{
    color: white;
    font-weight: bold;
}
.output-subtext{
    color: rgb(117, 172, 164);
}
h2{
    color: rgb(36, 231, 199);
}

.form{
    background-color: white;
    width: 55%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border: hidden;
    border-radius: 15px;
}

.output-container{
    width: 75%;
    border-radius: 10px;
    display: flex;
    border: none;
}

.output-container button{
    height: 30px;
    align-self: flex-end;
}

input[type=number]{
    text-align: right;
    border: none;
    border-radius: 5px;
    outline: blue;
    background-color: rgb(237, 245, 244);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
    text-align: right;
  }
.input-signs{
    border-radius: 5px;
    background-color: rgb(237, 245, 244);
    width: 260px;
    color: antiquewhite;
    margin: 0;
}
div img{
    margin: 8px 8px 0 8px;
}
input:focus{
    border: 2px solid rgb(155, 221, 221) !important;
    outline-color: rgb(155, 221, 221);
}